.mb-1 {
	margin-bottom: $spacer * 1 !important;
}

.mb-2 {
	margin-bottom: $spacer * 2 !important;
}

.mb-3 {
	margin-bottom: $spacer * 4 !important;
}

.mb-4 {
	margin-bottom: $spacer * 6 !important;
}

.mb-5 {
	margin-bottom: $spacer * 10 !important;
}

.mb-large {
	margin-bottom: 3.5rem !important;
}