
// Main color variables

$green: #6EC095;
$white: #ffffff;
$broken-white: #fafafc;
$soft-white: #F9F9F9;
$orange: #FF9B2E;
$patreon-red: rgb(231, 81, 59);
$footer: #4C5567;


// Utility variables
$spacer: 0.25rem;